<div class = "main-title">
  <div class ="group-name">
    <%= @room.name %>
  </div>
  <div class ="fin-button">
    <a href ="#">チャットを終了する</a>
  </div>
</div>

<div class = "main-chat">
  <%=render partial: 'message' , collection: @messages %>
</div>



<%= form_with model: [@room,@message], class:"form",lacal: true do  |f| %>
    <div class="text-message">
      <%= f.text_field :content,class: 'form-message',placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.text_field :image,class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'button' %>
<% end %>

